<button md-button *ngIf="(loggedIn$ | async) === false" (click)="login()">LOGIN</button>
<img *ngIf="(userImage$ | async) !== ''" [mdMenuTriggerFor]="appMenu" class="profile-pic" [src]="userImage$ | async">
<md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink="/t"> Home </button>
    <button md-menu-item (click)="changeSub()"> Change Topography </button>
    <button md-menu-item routerLink="/new-topo"> Create Topography </button>
    <div style="border-color: #dadada;border-top-width: 1px; border-top-style: solid;"></div>
  <button (click)="logout()" md-menu-item> Logout </button>
</md-menu>