<h3 md-dialog-title>
  Select a Topography...
</h3>

<md-form-field class="example-full-width">
  <input mdInput placeholder="Topology" aria-label="Topo" [mdAutocomplete]="auto" [formControl]="stateCtrl">
  <md-autocomplete (optionSelected)="optionSelected($event)" #auto="mdAutocomplete">
    <md-option *ngFor="let state of filteredStates | async" [value]="state.name">
      <span>{{ state.name }}</span> |
      <small>{{state.posts}} posts</small>
    </md-option>
  </md-autocomplete>
</md-form-field>

Subbed:
