<div style="padding-left:8px;" *ngIf="topology !== null">
  <h3 [innerText]="topology.getName()"></h3>
  <p [innerText]="topology.getDescription()"></p>
  <div>Created by:</div>
  <div fxLayout="row">
    <img [src]="topology.getOwner().getPicUrl()" style="border-radius:50%; width:25px; height:25px;">
    <div style="margin:5px" [innerText]="topology.getOwner().getName()"></div>
    <div fxFlex></div>
    <div style="margin:5px">{{topology.getDate() | date}}</div>
  </div>
</div>

<br>
<md-accordion>
  <md-expansion-panel *ngIf="displayCreatePost$ | async" (closed)="closeAddPost()" (opened)="openAddPost()" style="margin:0px"
    hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title><b>Make Post</b></md-panel-title>
      <md-icon svgIcon="add">add</md-icon>
    </md-expansion-panel-header>

    <div fxFlex fxLayout="column" [formGroup]="postCreationForm">
      <p>Click anywhere on the map to place a marker. You can click somewhere else to change it's position.</p>
      <md-form-field style="width:100%">
        <input formControlName="title" mdInput placeholder="Title">
        <md-error *ngIf="postCreationForm.get('title').errors">
          Please provide a title
        </md-error>
      </md-form-field>
      <md-form-field style="width:100%">
        <textarea formControlName="content" mdInput placeholder="Text (optional)"></textarea>
      </md-form-field>
      <button (click)="post()" md-button [disabled]="postCreationForm.pristine || !postCreationForm.valid">Post</button>
    </div>

  </md-expansion-panel>
  <md-expansion-panel [expanded]="step !== null && step.getId() === post.getId()" (opened)="setStep(post)" style="margin:0px"
    *ngFor="let post of posts$ | async" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title [innerText]="post.getTitle()"></md-panel-title>
      <md-icon svgIcon="point">point</md-icon>
    </md-expansion-panel-header>
    <p *ngIf="post.getContent() !== ''" [innerText]="post.getContent()"></p>
    <div fxLayout="row">
      <img [src]="post.getPoster().getPicUrl()" style="border-radius:50%; width:25px; height:25px;">
      <div style="margin:5px" [innerText]="post.getPoster().getName()"></div>
      <div fxFlex></div>
      <div style="margin:5px">{{post.getDate() | date}}</div>
    </div>
  </md-expansion-panel>
</md-accordion>