<div style="padding-left:8px;" *ngIf="topology !== null">
  <div fxLayout="row" fxLayoutAlign="start center">
    <app-subsribe-button *ngIf="displayCreatePost$ | async" [topo]="topology.getName()"></app-subsribe-button>
    <h3 [innerText]="topology.getName()"></h3>
  </div>
  <div fxLayout="row">
    <img [src]="topology.getOwner().getPicUrl()" style="border-radius:50%; width:25px; height:25px;">
    <div style="margin:5px" [innerText]="topology.getOwner().getName()"></div>
    <div fxFlex></div>
    <div style="margin:5px; margin-right:15px;">{{topology.getDate() | date}}</div>
  </div>
  <markdown [data]="topology.getDescription()"></markdown>
</div>

<br>
<div *ngIf="topology === null">
  <h4 style="margin:8px;">Topographies</h4>
  <div class="topo-option" fxLayout="row" *ngFor="let topo of topoOverview$ | async">
    <h5 style="margin:0px" fxLayoutAlign="start center" [innerText]="topo.name"></h5>
    <div fxFlex></div>
    <button md-button [routerLink]="'/t/' + topo.name">View</button>
  </div>
</div>

<md-accordion *ngIf="topology !== null">
  <md-expansion-panel *ngIf="displayCreatePost$ | async" (closed)="closeAddPost()" (opened)="openAddPost()" style="margin:0px"
    hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title><b>Make Post</b></md-panel-title>
      <md-icon svgIcon="add">add</md-icon>
    </md-expansion-panel-header>

    <div fxFlex fxLayout="column" [formGroup]="postCreationForm">
      <p>Click anywhere on the map to place a marker. You can click somewhere else to change it's position.</p>
      <md-form-field style="width:100%">
        <input formControlName="title" mdInput placeholder="Title">
        <md-error *ngIf="postCreationForm.get('title').errors">
          Please provide a title
        </md-error>
      </md-form-field>
      <md-form-field style="width:100%">
        <textarea formControlName="content" mdInput placeholder="Text (optional)"></textarea>
      </md-form-field>
      <button (click)="post()" md-button [disabled]="postCreationForm.pristine || !postCreationForm.valid">Post</button>
    </div>

  </md-expansion-panel>
  <md-expansion-panel [expanded]="step !== null && step.getId() === post.getId()" (opened)="setStep(post)" style="margin:0px"
    *ngFor="let post of topology.getPosts()" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title [innerText]="post.getTitle()"></md-panel-title>
      <md-icon style="min-width:24px;" svgIcon="point">point</md-icon>
    </md-expansion-panel-header>
    <markdown *ngIf="post.getContent() !== ''" [data]="post.getContent()"></markdown>
    <div fxLayout="row">
      <img [src]="post.getPoster().getPicUrl()" style="border-radius:50%; width:25px; height:25px;">
      <div style="margin:5px" [innerText]="post.getPoster().getName()"></div>
      <div fxFlex></div>
      <div style="margin:5px">{{post.getDate() | date}}</div>
    </div>
    <app-comment-section [topoName]="topology.getName()" [postId]="post.getId()" *ngIf="displayCreatePost$ | async"></app-comment-section>
    <md-card style="padding:8px; margin-top:8px;" *ngFor="let comment of post.getComments()">
      <markdown [data]="comment.getComment()"></markdown>
      <div fxLayout="row">
        <img [src]="comment.getPicUrl()" style="border-radius:50%; width:25px; height:25px;">
        <div style="margin:5px" [innerText]="comment.getUserDisplay()"></div>
        <div fxFlex></div>
        <div style="margin:5px">{{comment.getDate() | date}}</div>
      </div>
    </md-card>
  </md-expansion-panel>
</md-accordion>